:root {
  --mdc-theme-primary: #E5AA4A;
  --mdc-theme-secondary: #2C3340;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
h1.text{
	text-align:center;
	margin:0 auto;
	font-size:4vw;
	text-transform:uppercase;
	font-weight:900;
	font-family:garamond;
	color: var(--mdc-theme-primary)
}
h5.text{
	text-align:center;
	margin:0 auto;
	font-size:2vw;
	text-transform:uppercase;
	font-weight:900;
	font-family:garamond;
	color: var(--mdc-theme-secondary)
}
